<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="${appName}"></title>
    <link rel=stylesheet type="text/css" th:href="@{/css/home.css}">
</head>
<body>
<h1>Awesome Shopping Site</h1>

<h2>Check Out</h2>
<form action="#" th:action="@{/order}" th:object="${order}" method="post">
    Name: <input type="text" th:field="*{name}" /><br>
    Address: <input type="text" th:field="*{address}" /><br>
    Credit Card Number: <input type="text" th:field="*{creditCardNumber}" /><br>
    Order total: $<input type="text" value="98.76" placeholder="98.76" id="amount" name="amount" disabled/><br>
    <input type="submit" value="Check out" /> <input type="reset" value="Reset" /><br>
</form>

</body>
</html>